.space {
    padding-top: 50px;
}
.custom-section .cb p{
    font-size: 2rem;
    font-weight: lighter;
    line-height: 1.8;
    padding:1rem 0;
    color:#eee;
}
.custom-section .row{
    display: flex;
    align-items: center;
    background:var(--black);
    flex-wrap: wrap;
}

.custom-section .row .card-img{
    flex:1 1 45rem;
}

.custom-section .row .card-img img{
    width: 100%;
}
.custom-section .row .cb{
    flex:1 1 45rem;
    padding:2rem;
}

.custom-section .row .cb h3{
    font-size: 3rem;
    color:#fff;
}

.custom-section .row .cb p{
    font-size: 1.5rem;
    color:#ccc;
    padding:1rem 0;
    line-height: 1.8;
}

.card-img{
    width: 100%;
    object-fit: cover;
    object-position: top;
}

p.card-text{
    color: #ccc;
}
.home{
    height: 100vh;
    display: flex;
    align-items: center;
    background:url(../../assets/banner4.jpg) no-repeat;
    background-size: cover;
    background-position: center;  
}

.home .content{
    max-width: 60rem;
}

.home .content h3{
    font-size: 4rem;
    text-transform: uppercase;
    color:#fff;
}

.home .content p{
    font-size: 2rem;
    font-weight: lighter;
    line-height: 1.8;
    padding:1rem 0;
    color:#eee;
}

.typed{
    color:var(--main-color);
    text-transform: uppercase;
    
}

.profile-pic{
    margin: auto;
    width: 30%;  
}

.btnContent {

    margin-top: 1rem;
    display: inline-block;
    padding: 0.9rem 3rem;
    font-size: 1rem;
    color: #fff;
    background: var(--main-color);
    cursor: pointer;
}

.btnContent:hover {
    letter-spacing: .2rem;
}

.border{
    padding: 10px;
  }
  .btn{
    margin-right: 10px;
    color: #fff;
  }
  .fa {
    margin-right: 10px;
  }

  .profilepic {
    position: relative;
    width: 30%;
    border-radius: 50%;
    overflow: hidden;
/*     background-color: #111; */
  }
  
  .profilepic:hover .profilepic__content {
    opacity: 1;
  }
  
  .profilepic:hover .profilepic__image {
    opacity: .5;
  }
  
  .profilepic__image {
    object-fit: cover;
    opacity: 1;
    transition: opacity .2s ease-in-out;
  }
  
  .profilepic__content {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    opacity: 0;
    transition: opacity .2s ease-in-out;
  }
  
  .profilepic__icon {
    color: white;
    padding-bottom: 8px;
    cursor: pointer;
  }
  
  .fas {
    font-size: 20px;
  }
  
  .profilepic__text {
    text-transform: uppercase;
    font-size: 12px;
    width: 50%;
    text-align: center;
  }

  .card-img-top {
    width: 100%;
    height: 40vh;
    object-fit: cover;
    }